@tailwind base;
@tailwind components;
@tailwind utilities;

.form_input {
    @apply my-2 w-full py-3 transition rounded-sm border-b border-gray-400 hover:border-yellow-300 focus:border-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-300;
}
.form_submit {
    @apply my-5 py-2 transition duration-500 rounded-sm bg-gray-200 w-full cursor-pointer hover:bg-yellow-300
}

.summary_cls {
    @apply flex justify-between items-center text-xs text-gray-500 my-2;
}

.profile__img {
    @apply bg-gray-200 rounded-3xl;
    position: relative;
    width: 45px;
    height: 55px;
    border-radius: 60% / 20%;
    color: white;
   }
.profile__img:before {
    content: "";
    position: absolute;
    top: 9%;
    bottom: 9%;
    right: -11%;
    left: -11%;
    background: inherit;
    border-radius: 20% / 60%;
   }
.profile__img_md {
    @apply bg-gray-200 rounded-3xl mr-4;
    position: relative;
    width: 41px;
    height: 50px;
    border-radius: 60% / 20%;
    color: white;
    background-image: url("https://avatars3.githubusercontent.com/u/3612017");
    background-size: 50px;
}
.profile__img_md:before {
    content: "";
    position: absolute;
    top: 9%;
    bottom: 9%;
    right: -11%;
    left: -11%;
    background: inherit;
    border-radius: 20% / 60%;
   }
.profile__img_sm {
    @apply bg-gray-200 rounded-3xl mr-4;
    position: relative;
    width: 36px;
    height: 44px;
    border-radius: 60% / 20%;
    color: white;
   }
.profile__img_sm:before {
    content: "";
    position: absolute;
    top: 9%;
    bottom: 9%;
    right: -11%;
    left: -11%;
    background: inherit;
    border-radius: 20% / 60%;
   }

details summary::-webkit-details-marker {
    display:none
}

details[open] summary i {
    transform: rotate(180deg);
}

.text-2xs {
    font-size: 0.6em;
    line-height: 0.6em;
}

/* 채팅매시지 입력창부분 */
.left-chat {
    @apply bg-white rounded-xl py-1 px-2 relative;
   }
.left-chat:after {
    @apply border-t-[12px] border-t-white border-l-[12px] border-l-transparent absolute top-1 -left-1.5 content-[""];
   }
.right-chat {
    @apply bg-yellow-300 rounded-xl py-1 px-2 relative;
   }
.right-chat:after {
    @apply border-t-[12px] border-t-yellow-300 border-r-[12px] border-r-transparent absolute top-1 -right-1.5 content-[""];
   }

@keyframes fadeIn{
    from {
        transform: translateY(20px);
        opacity:0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}
.animate-fade-in {
    animation: fadeIn .5s linear;
}


@keyframes slide-left {
from {
    transform: translateX(100%);
    visibility: visible;
}

to {
    transform: translateX(0%);
}
}
.slide-in {
    animation: slide-left 0.3s ease-in-out forwards;
}
@keyframes slide-right {
from {
    transform: translateX(-100%);
    visibility: visible;
}

to {
    transform: translateX(0%);
}
}
.slide-out {
    animation: slide-right 0.3s ease-in-out forwards;
}