doctype html
html(lang="ko")

head
    title Kakao Talk Clone
    link(rel="stylesheet" href="/styles.css")

body.relative.bg-gray-50.h-full
include components/statusBar

include components/header
block content

include components/nav
script(src='https://kit.fontawesome.com/88eea5fb64.js' crossorigin='anonymous')
