doctype html
html(lang="ko")

head
    title Kakao Talk Clone
    link(rel="stylesheet" href="/styles.css")
    block headContent

body.max-w-xl.mx-auto.text-gray-700.h-screen(class="max-h-[1000px]")
    .relative.bg-gray-50.h-full
        include components/statusBar
        
        if pageType == "login"
            block loginContent 
        else
            include components/header
            block content
            
            if pageType !== "chatroom"
                include components/nav
block scriptContent
script(src='https://kit.fontawesome.com/88eea5fb64.js' crossorigin='anonymous')
script(src='/statusBar.js')