header.flex.justify-between.p-6
    h1.text-2xl.font-semibold Friends
    .space-x-2.font-light
        span
            i.fas.fa-search.fa-lg
        span
            i.fas.fa-music.fa-lg
        span
            i.fas.fa-cog.fa-lg