.flex.justify-between.text-xs.font-medium.p-1
    div
        span No Service
        i.fa-solid.fa-wifi
    div#time 00:00
    div
        i.fa-solid.fa-lock
        span 11%
        i.fa-solid.fa-battery-full
        i.fa-solid.fa-bolt-lightning