.flex.justify-between.text-xs.font-medium.p-1
    div#isWifi.fex.space-x-1
        span No Service
        i.fa-solid.fa-wifi
    div#time 00:00
    div#battery.flex.space-x-1
        div
            i.fa-solid.fa-lock
        span 11%
        div
            i.fa-solid.fa-battery-full
        div
            i.fa-solid.fa-bolt-lightning