.flex.justify-between.text-xs.font-medium.p-1
    div#isWifi.flex.items-center.space-x-1(class="w-44")
        span No Service
        i.fa-solid.fa-wifi
    div#time 00:00
    div#battery.flex.justify-end.items-center.space-x-1(class="w-44")
        span 11%
        i.fa-solid.fa-battery-full
        i